<div id="containter">
  <div id="map-canvas"></div>

  <div id="loader">
    <%= image_tag("ajax-loader.gif") %>
  </div>

  <div id="live-gps-container">
      <%= image_tag "gps-not-fixed.png", id: "not-following" %>
      <%= image_tag "gps-fixed.png", id: "following" %>
    </div>
  </div>

  <div id="myModal" class="modal">
    <div class="modal-content">
      <span id="spanClose">×</span>
      <div id="inner-content">
        <h2>Desired # of Bikes</h2>
        <%= form_tag "/maps/all_data", id: "minNum" do %>
          <%= text_field_tag :custom %>
          <%= submit_tag %>
        <% end %>
      </div>
    </div>
  </div>

  <div id='list-close-stations'>
  </div>

  <div id='last-update'>
    <h3></h3>
  </div>

</div>